.Board {
    top: 50%;
    margin: 25px;
    /* margin-top: 50px; */
    padding: 0px;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 90vh;
    max-height: 100%;

    width: 90vw;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */ 

    border: 10px solid #2b221a;
    /* background-color: darksalmon; */
    background-image: url("../Assets/bulletin-board-g238ad22e9_1920.jpg");

}


.formInput{
    height: 80%;
    width: 90%;
    font-size: large;
    resize: none;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #faf393;
}

.addPost{
    top: 30px;
    left: 10px;
    height: 20vh;
    width: 10vw;
    position: relative;

}

.colorPicker{
    display:flex;
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.color{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    margin: 10px;
    cursor: pointer;
}


#yellow{
    background-color: #faf393;
}

#green{
    background-color:#9eff78;
}

#blue{
    background-color:#7aa7ff;
}

#red{
    background-color: #fc5858;
}


.Postit {
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 1rem;
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid black; 
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* padding: 5%; */
}



.Window {
    /*Detta tycks inte påverka något för tillfället*/
    margin: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
}


@media screen {
    
}